@import '../../assets/index.scss';
.container-fluid {
  border-bottom: 4px solid $red-color;
  background-color: $blue-color;
  .row {
    height: 160px;
    .title {
      font-size: 45px;
      text-shadow: 2px 2px 2px $red-color;
      a{
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
        &:hover {
          opacity: 0.8;
          text-shadow: 2px 2px 2px $red-color;
        }
      }
    }
  }
}
