<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-6">
      <div class="position-fixed">
        <div>
          <h2>Weather in your city</h2>
        </div>
        <div class="d-flex justify-content-start align-items-center">
          <input class="form-control mr-2" [(ngModel)]="cityName" placeholder="Enter the city name." (focus)="cleanCityName()" [ngClass]="{ 'error': undesirableBehavior }">
          <i class="fa fa-times text-secondary" *ngIf="cityName.length > 0" (click)="clearInput()"></i>
        </div>
        <button class="mt-2 btn btn-outline-secondary" (click)="showWeather()" [disabled]="cityName.length == 0 || cityName == cityNotFound || cityName == justYouSearchedForIt">Search city</button>
      </div>
    </div>
    <div class="col-6">
      <div class="text-center">
        <h2>Weather</h2>
      </div>
      <div *ngIf="cityNames.length > 0">
        <div *ngFor="let cityName of cityNames" class="weather-box mb-4 d-flex flex-md-row flex-column justify-content-between">
          <div class="d-flex justify-content-center align-items-center temp-box">
            <div>
              <div class="temp" [ngClass]="{ 'cold': cityName.main.temp <= 0, 'cool': cityName.main.temp > 0 && cityName.main.temp <= 15, 'warm': cityName.main.temp > 15 && cityName.main.temp < 25, 'hot': cityName.main.temp >= 25 }">{{cityName.main.temp}} &deg; C</div>
              <div class="description">{{ cityName.description }}</div>
            </div>
          </div>
          <div class="info-box">
            <div>
              <img src="http://openweathermap.org/img/w/{{ cityName.icon }}.png">
            </div>
            <div>{{ cityName.name }}</div>
            <div>Country: {{ cityName.country }}</div>
            <div>Position:
              <br> latitude - {{ cityName.position.latitude }}
              <br> longitude - {{ cityName.position.longitude }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="cityNames.length == 0" class="no-city d-flex justify-content-center align-items-center">
        <div>No city was found.</div>
      </div>
    </div>

  </div>
  <div class="city-item" *ngIf="false">
    <city-item></city-item>
  </div>
  <div *ngIf="loading">
    <loader></loader>
  </div>
</div>
