@import '../../../assets/index.scss';
.container-fluid {
  .row {
    h2 {
      font-size: 1.4rem;
    }
    input {
      width: 90%;
      font-size: 0.9rem;
    }
    i {
      cursor: pointer;
    }
    button {
      cursor: pointer;
    }
    .weather-box {
      box-shadow: 3px 0px 5px 2px $blue-color;
      padding: 10px;
      opacity: 0.8;
      transition: all 0.5s linear;
      &:hover {
        box-shadow: 2px -2px 10px 2px $red-color;
        opacity: 1;
      }
      .temp-box {
        width: 100%;
        .temp {
          white-space: nowrap;
          font-size: 30px;
          font-weight: 700;
          width: 100%;
          text-align: center;
          &.cold {
            color: #0000ff
          }
          &.cool {
            color: #add8e6
          }
          &.warm {
            color: #ffff00
          }
          &.hot {
            color: #ff0000
          }
        }
        .description {
          text-align: center;
        }
      }
      .info-box {
        width: 100%;
      }
    }
    .no-city {
      font-size: 20px;
      white-space: nowrap;
    }
  }
}

@media (min-width: 576px) {
  .container-fluid {
    .row {
      h2 {
        font-size: 1.7rem;
      }
      input {
        font-size: 1rem;
      }
      .no-city {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 768px) {
  .container-fluid {
    .row {
      h2 {
        font-size: 2rem;
      }
      .weather-box {
        .temp-box {
          width: 100%;
        }
        .info-box {
          width: 100%;
        }
      }
    }
  }
}
