<header></header>
<div class="container">
  <div class="row">
    <div class="navigation" [ngClass]="{'navigation-on': isNavigation}">
      <div class="navigation-switch d-flex justify-content-center align-items-center" (click)="switchNavigation()">
        <div>
          <i class="fa fa-bars" *ngIf="!isNavigation"></i>
          <i class="fa fa-times" *ngIf="isNavigation"></i>
        </div>
      </div>
      <navigation (isNavigation)="hideNavigation($event)"></navigation>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="veil" *ngIf="isNavigation">
  </div>
</div>
