@import '../assets/index.scss';
.container{
  margin-top: 30px;
  .row{
    .navigation{
      position: absolute;
      background-color: #ffffff;
      z-index: 100;
      width: 200px;
      top: 164px;
      left: -200px;
      transition: all 0.5s linear;
      .navigation-switch{
        background-color: #ffffff;
        position: absolute;
        right: -30px;
        text-align: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: all .5s linear;
        &:hover{
          background-color: $blue-color;
          color: #ffffff;
        }
      }
      &.navigation-on{
        left: 0px;
        transition: all 0.5s linear;
      }
    }
    .main{
      width: 100%;
    }
  }
  .veil{
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    max-height: 1000%;
    opacity: 0.8;
    background: #ffffff;
    opacity: 0.8;
  }
}
