@import '../../../assets/_variables.scss';
.z-index-1000 {
  z-index: 1000;
}

.container-fluid {
  .choose-method {
    label {
      width: 72px;
      height: 100%;
    }
  }
  .control-get {
    .box-for-inputs {
      max-width: 150px;
      .select-post-number {
        select {
          width: 70px;
        }
      }
      .user-id {
        min-width: 78px;
      }
      .select-user-id {
        select {
          width: 60px;
        }
      }
    }
  }
  .control-post {
    width: 60%;
    input,
    textarea {
      width: 140px;
      overflow-x: hidden;
    }
    .field {
      width: 70px;
      white-space: nowrap;
    }
  }
  .control-put {
    .select-post-number {
      width: 70px;
    }
    input,
    textarea {
      width: 140px;
      overflow-x: hidden;
    }
    .field {
      width: 70px;
      white-space: nowrap;
    }
  }
}

.url {
  font-size: 11px;
}

.text-blue {
  color: $blue-color;
}

@media (min-width: 540px) {
  .container-fluid {
    .url {
      font-size: 0.9rem;
    }
    .box-for-inputs {
      max-width: 200px !important;
    }
  }
}

@media (min-width: 720px) {
  .container-fluid {
    .url {
      font-size: 1rem;
    }
    .box-for-inputs {
      max-width: 244px !important;
    }
  }
}

@media (min-width: 960px) {
  .container-fluid {
    .box-for-inputs {
      max-width: 250px !important;
    }
  }
}
