@import '../../../assets/_variables.scss';
.container-fluid{
  .choose-method {
    label{
      width: 72px;
      height: 100%;
    }
  }
  .control-get{
    width: 40%;
    .select-post-number{
      select{
        width: 70px;
      }
    }
    .user-id {
      min-width: 78px;
    }
    .select-user-id{
      select{
        width: 60px;
      }
    }
  }
  .control-post{
    width: 60%;
    input, textarea {
      max-width: 250px;
      overflow: hidden;
    }
    .field{
      width: 70px;
      white-space: nowrap;
    }
  }
}

.url {
  font-size: 12px;
}
.text-blue {
  color: $blue-color;
}

@media (min-width: 540px) {
  .url {
    font-size: 0.9rem;
  }
}

@media (min-width: 720px) {
  .url {
    font-size: 1rem;
  }
}
