<div class="container-fluid mt-3">
  <div class="row">
    <div class="col">
      <h2 class="" mb-2>Http Methods</h2>

      <div class="choose-method input-group mb-3">
        <select class="custom-select" [(ngModel)]="selectedMethod">
          <option *ngFor="let method of methods" [ngValue]="method">
            {{ method.name }}
          </option>
        </select>
        <div class="input-group-append">
          <label class="input-group-text">{{ selectedMethod.name }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="selectedMethod !=null">

    <div *ngIf="selectedMethod.id == 1" class="col-6 col-md-7 z-index-1000">
      <div class="url mb-2 text-blue"> const url = 'https://jsonplaceholder.typicode.com/posts
        <span *ngIf="selectedPostId === 0 && !isCheckbox">'</span>
        <span *ngIf="selectedPostId === 0 && !isCheckbox">;</span>
        <span *ngIf="selectedPostId !== 0 && !isCheckbox">/{{selectedPostId}}';</span>
        <span *ngIf="isCheckbox">?userId={{selectedUserId}};</span>
      </div>

      <div class="d-flex justify-content-start align-items-center position-fixed control-get">
        <button class="btn btn-outline-secondary mr-2" (click)="runMethodGet()">get</button>
        <div class="text-blue">url</div>

        <div class="d-flex flex-column flex-md-row justify-content-start align-items-center box-for-inputs">
          <div class="input-group select-post-number ml-2" [ngClass]="{ 'd-none' : isCheckbox }">
            <select class="custom-select" [(ngModel)]="selectedPostId" [disabled]="isCheckbox">
              <option *ngFor="let postId of postIds" [ngValue]="postId">
                {{ postId }}
              </option>
            </select>
          </div>

          <div class="input-group d-flex justify-content-around ml-1" *ngIf="selectedPostId > 0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" [(ngModel)]="isCheckbox">
              </div>
            </div>
            <input type="text" value="?userId" class="form-control user-id" [disabled]="true" aria-label="Text input with checkbox">
          </div>

          <div class="input-group select-user-id" *ngIf="selectedPostId > 0  && isCheckbox">
            <select class="custom-select" [(ngModel)]="selectedUserId">
              <option *ngFor="let userId of userIds" [ngValue]="userId">
                {{ userId }}
              </option>
            </select>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="selectedMethod.id == 2" class="col-6 col-md-7 z-index-1000">
      <div class="url mb-2 text-blue"> const url = 'https://jsonplaceholder.typicode.com/posts;</div>

      <div class="d-flex flex-column flex-md-row justify-content-start align-items-center position-fixed control-post">
        <div class="d-flex justify-content-start align-items-center mb-2 mb-md-0">
          <button class="btn btn-outline-secondary mr-2" (click)="addPost()">post</button>
          <div class="text-blue">url</div>
        </div>

        <div class="ml-2 d-flex flex-column justify-content-start align-items-center">
          <div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">id: </div>
              <input type="text" class="form-control" placeholder="101" [disabled]="true">
            </div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">user id:</div>
              <input type="number" class="form-control" placeholder="user id" [(ngModel)]="newPost.userId">
            </div>
          </div>
          <div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">title: </div>
              <textarea type="text" class="form-control" placeholder="title" [(ngModel)]="newPost.title"></textarea>
            </div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">body: </div>
              <textarea type="text" class="form-control" placeholder="body" [(ngModel)]="newPost.body"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedMethod.id == 3" class="col-6 col-md-7 z-index-1000">
      <div class="url mb-2 text-blue"> const url = 'https://jsonplaceholder.typicode.com/posts/
        <span>{{selectedPostIdForPutSection}}';</span>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-start align-items-center position-fixed control-put">
        <div class="d-flex justify-content-start align-items-center mb-2 mb-md-0">
          <button class="btn btn-outline-secondary mr-2" *ngIf="!isPutPatch" (click)="getPost(selectedPostIdForPutSection)">get</button>
          <button class="btn btn-outline-secondary mr-2" *ngIf="isPutPatch" (click)="updatePost()">put</button>
          <div class="text-blue">url</div>
          <div class="input-group select-post-number ml-2" [ngClass]="{'d-none': isPutPatch}">
            <select class="custom-select" [(ngModel)]="selectedPostIdForPutSection">
              <option *ngFor="let postId of postsIdsForPutSection" [ngValue]="postId">
                {{ postId }}
              </option>
            </select>
          </div>
        </div>

        <div class="ml-2 d-flex flex-column justify-content-start align-items-center">
          <div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">id: </div>
              <input type="number" class="form-control" placeholder="id" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.id">
            </div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">user id:</div>
              <input type="number" class="form-control" placeholder="user id" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.userId">
            </div>
          </div>
          <div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">title: </div>
              <textarea type="text" class="form-control" placeholder="title" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.title"></textarea>
            </div>
            <div class="d-flex justify-content-start align-items-center">
              <div class="field">body: </div>
              <textarea type="text" class="form-control" placeholder="body" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.body"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedMethod.id == 4" class="col-6 col-md-7 z-index-1000">
      <div class="url mb-2 text-blue"> const url = 'https://jsonplaceholder.typicode.com/posts/{{selectedPostIdForPutSection}}';</div>

      <div class="d-flex justify-content-start align-items-center position-fixed control-put">
        <button class="btn btn-outline-secondary mr-2" *ngIf="!isPutPatch" (click)="getPost(selectedPostIdForPutSection)">get</button>
        <button class="btn btn-outline-secondary mr-2" *ngIf="isPutPatch" (click)="updatePost()">put</button>
        <div class="text-blue">url</div>

        <div class="input-group select-post-number ml-2" [ngClass]="{'d-none': isPutPatch}">
          <select class="custom-select" [(ngModel)]="selectedPostIdForPutSection">
            <option *ngFor="let postId of postsIdsForPutSection" [ngValue]="postId">
              {{ postId }}
            </option>
          </select>
        </div>

        <div class="ml-2 d-flex flex-row flex-sm-column justify-content-start align-items-center">
          <div>
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
              <div class="field">id: </div>
              <input type="number" class="form-control" placeholder="id" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.id">
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
              <div class="field">user id:</div>
              <input type="number" class="form-control" placeholder="user id" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.userId">
            </div>
          </div>
          <div>
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
              <div class="field">title: </div>
              <textarea type="text" class="form-control" placeholder="title" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.title"></textarea>
            </div>
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
              <div class="field">body: </div>
              <textarea type="text" class="form-control" placeholder="body" [disabled]="!isPutPatch" [(ngModel)]="postForSectionPut.body"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-5" *ngIf="selectedMethod.id > 0">
      <div>
        <div class="post-box mb-4 pl-5 pl-md-0" *ngFor="let post of posts">
          <div class="">{{curlyBracketLeft}}</div>
          <div>
            <strong>id</strong>: {{ post.id }},</div>
          <div>
            <strong>user id</strong>: {{ post.userId }},</div>
          <div>
            <strong>title</strong>: "{{ post.title }}",</div>
          <div>
            <strong>body</strong>: "{{ post.body }}" </div>
          <div>{{curlyBracketRight}}</div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="loading">
    <loader></loader>
  </div>
</div>
