input {
  &.error {
    box-shadow: 0 0 0 0.2rem $red-color;
  }
}

.container-fluid {
  h2 {
    margin-bottom: 20px !important;
  }
}
button {
  outline: none;
}

.cold {
  color: $cold;
}
.cool {
  color: $cool;
}
.warm {
  color: $warm;
}
.hot {
  color: $hot;
}
