<div class="container">
  <div class="city-item-box d-flex flex-row">
    <agm-map *ngIf="selectedCityWeather" [latitude]="selectedCityWeather.position.latitude" [longitude]="selectedCityWeather.position.longitude">
        <agm-marker [latitude]="selectedCityWeather.position.latitude" [longitude]="selectedCityWeather.position.longitude"></agm-marker>
    </agm-map>
    <div class="city-item-box-info d-flex flex-column">
        <div class="city-name d-flex flex-row justify-content-center align-items-center">
          <div>{{selectedCityWeather.name}}</div>
          <div>
              <img src="http://openweathermap.org/img/w/{{ selectedCityWeather.icon }}.png">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-start">
          <div class="weather-info">
            <div>Temp: <span [ngClass]="classForNgClass(selectedCityWeather.main.temp)">{{ selectedCityWeather.main.temp }} &deg;C</span></div>
            <div>Temp-Max: <span [ngClass]="classForNgClass(selectedCityWeather.main.tempMax)">{{ selectedCityWeather.main.tempMax }} &deg;C</span></div>
            <div>Temp-Min: <span [ngClass]="classForNgClass(selectedCityWeather.main.tempMin)">{{ selectedCityWeather.main.tempMin }} &deg;C</span></div>
            <div>Pressure: {{ selectedCityWeather.main.pressure }} hPa</div>
            <div>Humidity: {{ selectedCityWeather.main.humidity }} %</div>
            <div>Clouds: {{ selectedCityWeather.clouds.all }} %</div>
            <div>Wind: {{ selectedCityWeather.wind.speed }} km/h <i class="fa fa-location-arrow" [ngStyle]="{'transform': 'rotate(' + -45 + selectedCityWeather.wind.deg + 'deg)'}"></i></div>
            <div>Description: {{ selectedCityWeather.description }}</div>
            <div *ngIf="selectedCityWeather.rain">Rain: {{ selectedCityWeather.rain }}</div>
            <div *ngIf="!selectedCityWeather.rain">Rain: -</div>
            <div *ngIf="selectedCityWeather.snow">Snow: {{ selectedCityWeather.snow }}</div>
            <div *ngIf="!selectedCityWeather.snow">Snow: -</div>
          </div>
          <div class="place-info ml-5">
            <div>Country: {{ selectedCityWeather.country }}</div>
            <div>Latitude: {{ selectedCityWeather.position.latitude }}</div>
            <div>Longitude: {{ selectedCityWeather.position.longitude }}</div>
          </div>
        </div>
      </div>
  </div>
  <button (click)="closeCityItem()" class="close"><i class="fa fa-times"></i></button>
</div>
