<div class="container">
  <div class="city-item-box d-flex flex-row">
    <agm-map #agmMap *ngIf="selectedCityWeather" [latitude]="selectedCityWeather.position.latitude" [longitude]="selectedCityWeather.position.longitude">
        <agm-marker [latitude]="selectedCityWeather.position.latitude" [longitude]="selectedCityWeather.position.longitude"></agm-marker>
    </agm-map>
    <div class="city-item-box-info d-flex flex-column">
        <div class="city-name d-flex flex-row justify-content-center align-items-center">
          <div>{{selectedCityWeather.name}}</div>
          <div>
              <img src="http://openweathermap.org/img/w/{{ selectedCityWeather.icon }}.png">
            </div>
        </div>
        <div class=" ml-2 d-flex flex-column flex-sm-row justify-content-center align-items-start">
          <div class="weather-info ">
            <div>Temp: <span [ngClass]="getClass(selectedCityWeather.main.temp)">{{ selectedCityWeather.main.temp }} &deg;C</span></div>
            <div>Temp-Max: <span [ngClass]="getClass(selectedCityWeather.main.tempMax)">{{ selectedCityWeather.main.tempMax }} &deg;C</span></div>
            <div>Temp-Min: <span [ngClass]="getClass(selectedCityWeather.main.tempMin)">{{ selectedCityWeather.main.tempMin }} &deg;C</span></div>
            <div>Pressure: {{ selectedCityWeather.main.pressure }} hPa</div>
            <div>Humidity: {{ selectedCityWeather.main.humidity }} %</div>
            <div>Clouds: {{ selectedCityWeather.clouds.all }} %</div>
            <div>Wind: {{ selectedCityWeather.wind.speed }} km/h <i class="fa fa-location-arrow" [ngStyle]="{'transform': 'rotate(' + -45 + selectedCityWeather.wind.deg + 'deg)'}"></i></div>
            <div>Description: {{ selectedCityWeather.description }}</div>
          </div>
          <div class="place-info ml-sm-2 ml-md-5">
            <div class="d-flex">
              <div>Country:</div>
              <div class="flag ml-2">
                  <img #flag src="https://lipis.github.io/flag-icon-css/flags/4x3/{{ selectedCityWeather.country | lowercase }}.svg"/>
              </div>
            </div>
            <div>Latitude: {{ selectedCityWeather.position.latitude }}</div>
            <div>Longitude: {{ selectedCityWeather.position.longitude }}</div>
          </div>
        </div>
      </div>
      <div *ngIf="!agmMap || !flag" class="loader d-flex justify-content-center align-items-center">
          <i class="fa fa-gear" [ngClass]="getClass(selectedCityWeather.main.temp)"></i>
          <i class="fa fa-gear" [ngClass]="getClass(selectedCityWeather.main.temp)"></i>
          <i class="fa fa-gear" [ngClass]="getClass(selectedCityWeather.main.temp)"></i>
        </div>
  </div>
  <button (click)="closeCityItem()" class="close"><i class="fa fa-times"></i></button>
</div>
